    <!-- widget div-->
    <div>

        <!-- widget content -->
        <div class="widget-body no-padding">

          <form class="smart-form">
            <header>
              Basics
            </header>

            <fieldset>
              <div class="row">
                <section class="col col-sm-12 col-md-6 col-lg-6">
                  <label class="label">Platforms for Apps</label>

                  <label class="checkbox">
                    <input type="checkbox" name="checkbox" checked="checked">
                    <i></i>Android</label>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox">
                    <i></i>iOS</label>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox">
                    <i></i>Microsoft Hololens</label>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox">
                    <i></i>Lenovo glasses</label>
                  <label class="checkbox">
                    <input type="checkbox" name="checkbox">
                    <i></i>Google glasses</label>

                </section>
              </div>
              <div class="row">
                <section class="col col-sm-12 col-md-6 col-lg-6">
                  <label class="label">App name</label>
                  <label class="input">
                    <input type="text">
                  </label>

                  <div class="note">
                    <strong>Note:</strong> this name will be appear on the Apple and Google Play Store
                  </div>
                </section>

              </div>
              <div class="row">

                <section class="col col-sm-12 col-md-6 col-lg-6">
                  <label class="label">App languages</label>
                  <label class="select select-multiple">
                    <select multiple class="custom-scroll">
                      <option value="1">English</option>
                      <option value="2">Deutsch</option>
                      <option value="3">Polski</option>
                      <option value="4">EspaГ±ol</option>
                      <option value="5">Italiano</option>
                    </select> </label>

                  <div class="note">
                    <strong>Note:</strong> hold down the ctrl/cmd button to select multiple options.
                  </div>
                </section>
              </div>

            </fieldset>

            <header>
              Images
            </header>

            <fieldset>
              <label class="label">Icon</label>
              <div class="row">
                <section class="col col-sm-12 col-md-6 col-lg-6">
                  <form class="dropzone">
                    <div class="dz-default dz-message"><span><span class="text-center"><span
                            class="font-lg visible-xs-block visible-sm-block visible-lg-block"><span
                              class="font-xs"><i class="fa fa-caret-right text-danger"></i> Drop files <span
                                class="font-xs">to upload</span></span><span>&nbsp;&nbsp;<h4
                                class="display-inline"> (Or Click)</h4></span></span></span></span></div>
                  </form>

                  <div class="note">
                    <strong>Note:</strong> 512x512 (32-bit PNG)
                  </div>
                </section>
                <section class="col col-sm-12 col-md-3 col-lg-3">
                  <img alt="img" src="assets/img/superbox/superbox-thumb-4.jpg" width="140">
                  <p class="padding-10">
                    <a class="btn btn-xs btn-primary"><i class="fa fa-edit"></i> Edit</a>&#xA0;
                    <a class="btn btn-xs btn-danger"><i class="fa fa-trash"></i> Delete</a>
                  </p>
                </section>
              </div>
            </fieldset>
          </form>

        </div>
        <!-- end widget content -->

      </div>
      <!-- end widget div -->