<br>
<br>
<!-- widget div-->
<div>
  <!-- widget content -->
  <div class="designer-nav widget-body">
    <div class="widget-body-toolbar widget-body-toolbar-wizard">

      <div class="row">

        <div class="col col-sm-2">

          <label class="">Design for platform: </label>
          <br>
          <label class="select" style="width:100%">
            <select class="input form-control">
              <option value="0">Choose platform</option>
              <option value="1">Android</option>
              <option value="2" selected>iOS</option>
              <option value="3">Hololens Glasses</option>
              <option value="4">Lenovo Glasses</option>
            </select> <i></i> </label>

        </div>
        <div class="col col-sm-2">

          <label class="">Design for layout: </label>
          <br>
          <label class="select" style="width:100%">
            <select class="input form-control">
              <option value="0">Choose layout</option>
              <option value="1">Vertical phone</option>
              <option value="2">Vertical ipad</option>
              <option value="3">Horizontal ipad</option>
            </select> <i></i> </label>

        </div>
        <div class="col col-sm-8 text-align-right padding-10">
          <div class="btn-group btn-header" style="margin-left: 6px;">
            <a (click)="(null)" class="btn btn-primary"> <i class="fa fa-play"></i> Preview </a>
          </div>

          <div class="btn-group btn-header" style="margin-left: 6px;">
            <a (click)="(null)" class="btn btn-success"> <i class="fa fa-floppy-o"></i> Save </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="widget-body">

    <div class="designer-container">
      <div class="item item-components">
        <fieldset class="item-nav">
          <legend>Components</legend>
          <div class="item-search input-group">
            <input class="form-control" type="text" placeholder="Search for component..." id="search-project">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-default">
                &#xA0;&#xA0;&#xA0;<i class="fa fa-fw fa-search"></i>&#xA0;&#xA0;&#xA0;
              </button>
            </div>
          </div>
        </fieldset>
        <fieldset class="item-container">
          <!--Grid row-->
          <div class="row">

            <!--Grid column-->
            <div class="col-lg-6 col-md-6 mb-6">
              <!--Card-->
              <mat-card class="component-card">
                <img mat-card-image src="assets/img/components/checkboxes.png" alt="Checkboxes" matTooltip="Checkboxes">
                <mat-card-actions class="text-center">
                  <button mat-raised-button>ADD</button>
                </mat-card-actions>
              </mat-card>
              <!--Card-->
              <!--Card-->
              <mat-card class="component-card">
                <img mat-card-image src="assets/img/components/switches.png" alt="Switchers">
                <mat-card-actions class="text-center">
                  <button mat-raised-button matTooltip="Switchers">ADD</button>
                </mat-card-actions>
              </mat-card>
              <!--Card-->
              <!--Card-->
              <mat-card class="component-card">
                <img mat-card-image src="assets/img/components/tabs-simple.png" alt="Tabs">
                <mat-card-actions class="text-center">
                  <button mat-raised-button matTooltip="Tabs">ADD</button>
                </mat-card-actions>
              </mat-card>
              <!--Card-->
            </div>
            <!--Grid column-->
            <!--Grid column-->
            <div class="col-lg-6 col-md-6 mb-6">
              <!--Card-->
              <mat-card class="component-card">
                <img mat-card-image src="assets/img/components/radiobuttons.png" alt="Radiobuttons">
                <small style="font-size: 10px">Radiobuttons</small>
                <mat-card-actions class="text-center">
                  <button mat-raised-button matTooltip="Radiobuttons">ADD</button>
                </mat-card-actions>
              </mat-card>
              <!--Card-->
              <!--Card-->
              <mat-card class="component-card">
                <img mat-card-image src="assets/img/components/cards-template014.png" alt="Card">
                <mat-card-actions class="text-center">
                  <button mat-raised-button matTooltip="Card">ADD</button>
                </mat-card-actions>
              </mat-card>
              <!--Card-->
              <!--Card-->
              <mat-card class="component-card">
                <img mat-card-image src="assets/img/components/contained-button.png" alt="Contained button">
                <mat-card-actions class="text-center">
                  <button mat-raised-button matTooltip="Contained-button">ADD</button>
                </mat-card-actions>
              </mat-card>
              <!--Card-->
              <!--Card-->
              <mat-card class="component-card">
                <img mat-card-image src="assets/img/components/datatables.png" alt="datatables">
                <mat-card-actions class="text-center">
                  <button mat-raised-button matTooltip="datatables">ADD</button>
                </mat-card-actions>
              </mat-card>
              <!--Card-->
              <!--Card-->
              <mat-card class="component-card">
                <img mat-card-image src="assets/img/components/dialog-mobile-alert.png" alt="dialog-mobile-alert">
                <mat-card-actions class="text-center">
                  <button mat-raised-button matTooltip="dialog-mobile-alert">ADD</button>
                </mat-card-actions>
              </mat-card>
              <!--Card-->
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </fieldset>
      </div>
      <div class="item item-pages">
        <fieldset class="item-nav">
          <legend>Pages</legend>
          <a class="btn btn-primary" (click)="lgModal.show()"><i class="fa fa-plus"></i> Add new page</a>
        </fieldset>
        <fieldset class="item-container">
          <div class="sitemap">

            	<mat-nav-list>
                  <mat-list-item (click)="menuTrigger.openMenu()" *ngFor="let i of data">
                    <a mat-line ng-click="changePage()" > {{ i.name }}
                    </a>
                    <button mat-icon-button #menuTrigger="matMenuTrigger"  [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                   </button>
                  </mat-list-item>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item>Rename</button>
                    <button mat-menu-item>Clone</button>
                    <button mat-menu-item>Delete</button>
                  </mat-menu>
                </mat-nav-list>

<!--
            <div class="col col-sm-12 sitemap">
              <ul>
                <li>
                  <a>Scanning </a>
                </li>
                <li> <a>Cart </a></li>
                <li> <a>Cart </a></li>
                <li> <a>Cart </a></li>
                <li> <a>Cart </a></li>
                <li> <a>Cart </a></li>
              </ul>

            </div>
            -->
          </div>

        </fieldset>
      </div>
      <div class="item item-canva">canva

        <div id="drag-parent">
          <div id="drag-1" class="draggable">
            <button class="btn-default btn-sm btn" type="button" title="Bold" tabindex="-1"
              data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdBold" data-hotkey="Ctrl+B">
              <span class="glyphicon glyphicon-bold"></span>
            </button>
          </div>
          <div id="drag-2" class="draggable">
            <label class="select" style="width:50%">
              <select class="input form-control">
                <option value="0">Choose layout</option>
                <option value="1">Vertical phone</option>
                <option value="2">Vertical ipad</option>
                <option value="3">Horizontal ipad</option>
              </select> <i></i> </label>
          </div>
        </div>
      </div>
      <div class="item item-interactions">
        <form class="">
          <fieldset>
            <legend>Interactions</legend>
            <div class="row">
              <div class="col col-sm-6">
                <label class="">Trigger </label>
                <br>
                <label class="select" style="width:100%">
                  <select class="input form-control">
                    <option value="0">Choose</option>
                    <option value="1">Swipe down</option>
                    <option value="2">Swipe up</option>
                    <option value="3">Swipe left</option>
                    <option value="4">Swipe right</option>
                    <option value="5">Click (Tap)</option>
                    <option value="6">Touch and Hold</option>
                    <option value="7">Voice command</option>
                  </select> <i></i> </label>
              </div>
            </div>
            <div class="row">
              <div class="col col-md-6">
                <label class="">Action</label>
                <br>
                <label class="select" style="width:100%">
                  <select class="input form-control">
                    <option value="0">Choose</option>
                    <option value="1" selected>Get data from database</option>
                    <option value="2">Go to page</option>
                    <option value="3">Set variable</option>
                    <option value="4">Set state</option>
                  </select> <i></i> </label>
              </div>
            </div>
            <div class="row">
              <div class="col col-sm-12">
                <label class="">Trigger </label>
                <br>
                <textarea rows="5"></textarea>
              </div>
            </div>
          </fieldset>
        </form>

      </div>
      <div class="item item-settings">

        <!-- widget div-->
        <div>
          <!-- widget content -->
          <div class="widget-body">
            <fieldset>
              <legend>Grid</legend>
            </fieldset>
            <form class="smart-form">
              <div class="row">
                <section class="col col-sm-12">

                  <label class="checkbox">
                    <input type="checkbox" name="ggridlines" checked="checked">
                    <i></i>Show gridlines on canva</label>

                  <label class="checkbox">
                    <input type="checkbox" name="gridrestriction" checked="checked">
                    <i></i>Restrict movement to grid</label>
                </section>
              </div>
            </form>
            <form class="form-horizontal">
              <fieldset>
                <legend>Possition</legend>
                <div class="row">
                  <div class="col col-sm-6">
                    <div class="form-group"><label class="col-md-1 control-label">W:</label>
                      <div class="col-md-9"><input id="PosW" class="form-control" placeholder="1200px" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col col-sm-6">
                    <div class="form-group"><label class="col-md-1 control-label">H:</label>
                      <div class="col-md-9"><input id="PosH" class="form-control" placeholder="800px" type="text">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col col-sm-6">
                    <div class="form-group"><label class="col-md-1 control-label">X:</label>
                      <div class="col-md-9"><input id="PosX" class="form-control" placeholder="1200px" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="col col-sm-6">
                    <div class="form-group"><label class="col-md-1 control-label">Y:</label>
                      <div class="col-md-9"><input id="PosY" class="form-control" placeholder="1200px" type="text">
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>

              <fieldset>
                <legend>Style</legend>
                <accordion class="smart-accordion-default panel-group" [closeOthers]="true">
                  <accordion-group [isOpen]="true" #group1>
                    <h4 class="panel-title" accordion-heading><a><i class="pull-right fa fa-lg" [ngClass]="{'fa-angle-down': group1?.isOpen,
                                            'fa-angle-up': !group1?.isOpen}"></i>
                        TYPOGRAPHY</a>
                    </h4>

                    <div class="row">

                      <div class="form-group"><label class="col-md-3 control-label" for="select-font">Font</label>
                        <div class="col-md-8"><select class="form-control" id="select-font">
                            <option>Arial</option>
                            <option>Tahoma</option>
                            <option>Lato</option>
                            <option>Open Sans</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group"><label class="col-md-3 control-label" for="select-size">Size</label>
                        <div class="col-md-5"><select class="form-control" id="select-size">
                            <option>8 px</option>
                            <option>9 px</option>
                            <option>10 px</option>
                            <option>12 px</option>
                            <option>14 px</option>
                            <option>16 px</option>
                            <option>20 px</option>
                            <option>24 px</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group"><label class="col-md-3 control-label">Color</label>
                        <div class="col-md-8">
                          <input class="form-control" [value]="color" [style.background]="color" [(colorPicker)]="color"
                            [cpPosition]="'bottom'" cpPositionRelativeToArrow="'true'" [cpPositionOffset]="'-30%'" />
                        </div>
                      </div>
                      <div class="form-group"><label class="col-md-3 control-label"></label>


                        <div class="btn-group col-md-8">
                          <button class="btn-default btn-sm btn" type="button" title="Bold" tabindex="-1"
                            data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdBold"
                            data-hotkey="Ctrl+B">
                            <span class="glyphicon glyphicon-bold"></span>
                          </button>
                          <button class="btn-default btn-sm btn" type="button" title="Italic" tabindex="-1"
                            data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdItalic"
                            data-hotkey="Ctrl+I"><span class="glyphicon glyphicon-italic"></span> </button><button
                            class="btn-default btn-sm btn" type="button" title="Heading" tabindex="-1"
                            data-provider="bootstrap-markdown" data-handler="bootstrap-markdown-cmdHeading"
                            data-hotkey="Ctrl+H"><span class="glyphicon glyphicon-header"></span> </button></div>

                      </div>


                    </div>

                  </accordion-group>
                  <accordion-group #group2>
                    <h4 class="panel-title" accordion-heading><a><i class="pull-right fa fa-lg" [ngClass]="{'fa-angle-down': group2?.isOpen,
                                            'fa-angle-up': !group2?.isOpen}"></i>
                        COLORS</a>
                    </h4>
                    <div class="row">
                      <div class="form-group"><label class="col-md-3 control-label">Fill</label>
                        <div class="col-md-8">
                          <input class="form-control" [value]="color" [style.background]="color" [(colorPicker)]="color"
                            [cpPosition]="'bottom'" cpPositionRelativeToArrow="'true'" [cpPositionOffset]="'-30%'" />
                        </div>
                      </div>
                    </div>
                  </accordion-group>
                  <accordion-group #group3>
                    <h4 class="panel-title" accordion-heading><a><i class="pull-right fa fa-lg" [ngClass]="{'fa-angle-down': group3?.isOpen,
                                            'fa-angle-up': !group3?.isOpen}"></i>
                        STROKE</a>
                    </h4>
                    ...
                  </accordion-group>
                </accordion>
              </fieldset>
            </form>


          </div>
          <!-- end widget content -->

        </div>
        <!-- end widget div -->
      </div>
    </div>

  </div>
  <!-- end widget content -->
</div>
<!-- end widget div -->

<!-- Modal -->

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Add new page</h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="title"> New page name</label>
              <input type="text" class="form-control" id="title" required>
            </div>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="lgModal.hide()">
          Cancel
        </button>
        <button type="button" class="btn btn-primary">
          Add
        </button>
      </div>
    </div>
  </div>
</div>