 <!-- widget div-->
 <div>

    <!-- widget content -->
    <div class="widget-body no-padding">

      <form class="smart-form">
        <header>
          Layout
        </header>

        <fieldset>
          <div class="row">
            <section class="col col-sm-6 col-md-3 col-lg-2">
              <label class="label">Set layout for platform</label>
              <label class="select">
                <select class="input">
                  <option value="0">Choose platform</option>
                  <option value="1" selected>Android</option>
                  <option value="2">iOS</option>
                  <option value="3">Hololens Glasses</option>
                  <option value="4">Lenovo Glasses</option>
                </select> <i></i> </label>
            </section>
          </div>

          <!-- row -->
          <div class="row">
            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-2">
              <label class="checkbox">
                <input type="checkbox" name="checkbox" checked="checked">
                <i></i>Vertical mobile</label>
              <img src="assets/img/devices/phone.png" alt="Basic Email Template"
                style="width:100%; height:auto;">
            </div>
            <div class="col col-xs-12 col-sm-6 col-md-4 col-lg-3">
              <label class="checkbox">
                <input type="checkbox" name="checkbox" checked="checked">
                <i></i>Vertical ipad</label>
              <img src="assets/img/devices/ipad-vertical.png" alt="Basic Email Template"
                style="width:100%; height:auto;">
            </div>
            <div class="col col-xs-12 col-sm-8 col-md-6 col-lg-4">
              <label class="checkbox">
                <input type="checkbox" name="checkbox" checked="checked">
                <i></i>Horizontal ipad / Glasses</label>
              <img src="assets/img/devices/ipad-horizontal.png" alt="Sidebar Email Template"
                style="width:100%; height:auto;">
            </div>
          </div>
          <!-- end row -->
        </fieldset>
        <header>
          Canva size
        </header>
        <fieldset>
          <div class="row">
            <section class="col col-sm-12 col-md-6 col-lg-6">
              <label class="label">Unit</label>
              <div class="inline-group">
                <label class="radio">
                  <input type="radio" name="radio-inline" checked="checked">
                  <i></i>Pixels</label>
                <label class="radio">
                  <input type="radio" name="radio-inline">
                  <i></i>Milimeters</label>
                <label class="radio">
                  <input type="radio" name="radio-inline">
                  <i></i>Centimeters</label>
              </div>
            </section>
          </div>
          <div class="row">
            <section class="col col-sm-6 col-md-4 col-lg-3">
              <label class="label">Canva width</label>
              <label class="input">
                <input type="number">
              </label>
            </section>
            <section class="col col-sm-6 col-md-4 col-lg-3">
              <label class="label">Canva height</label>
              <label class="input">
                <input type="number">
              </label>
            </section>
          </div>
          <div class="row">
            <section class="col col-sm-12 col-md-6 col-lg-6">
              <label class="checkbox">
                <input type="checkbox" name="checkbox" checked="checked">
                <i></i>Keep ratio</label>
              <div class="note">
                <strong>Note:</strong> keep the same ratio as original devices layout
              </div>
            </section>
          </div>
        </fieldset>
      </form>

    </div>
    <!-- end widget content -->

  </div>
  <!-- end widget div -->