<!-- MAIN CONTENT -->
<div id="content">
  <div class="row">
    <sa-big-breadcrumbs [items]="['Dashboard']" icon="list-alt" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
   
  </div>
  <div class="row">
    <div class="col-sm-12">

      <div class="alert alert-info fade in">
        <button class="close" data-dismiss="alert">
          ×
        </button>
        <i class="fa-fw fa fa-info"></i>
        <strong>Heads up!</strong> If the widgets are not reacting to your drag and drop events on chrome, try to turn off chrome touch events by going to, <a href="chrome://flags/#touch-events">chrome://flags/#touch-events</a> if you do not have a touch screen.
      </div>
    </div>
  </div>
  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- row -->
    <div class="row">
      <!-- NEW WIDGET START -->
      <article class="col-xs-12 sortable-grid">
        <!-- Widget ID (each widget will need unique ID)-->
        <div sa-widget [colorbutton]="false" [editbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false">
          <!-- widget options:
              usage: <div sa-widget id="wid-id-0" [editbutton]="false">
              [colorbutton]="false"
              [editbutton]="false"
              [togglebutton]="false"
              [deletebutton]="false"
              [fullscreenbutton]="false"
              [custombutton]="false"
              [collapsed]="true"
              [sortable]="false"
          -->
          <header>
            <h2><strong>Widget</strong><i> Switch</i> </h2>
            <div class="widget-toolbar" *ngIf="demoStyle=='style1'">
              <span class="onoffswitch-title"><i class="fa fa-location-arrow"></i> Style 1</span>
              <span class="onoffswitch">
											<input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
											<label class="onoffswitch-label" for="myonoffswitch">
                                                <span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span>
                                                <span class="onoffswitch-switch"></span> </label>
											</span>
            </div>
            <div class="widget-toolbar" *ngIf="demoStyle=='style2'">
              <div class="smart-form">
                <label class="toggle">
                  <input type="checkbox" id="demo-switch-to-pills" name="checkbox-toggle">
                  <i data-swchon-text="ON" data-swchoff-text="OFF"></i>
                  <em class="fa fa-location-arrow"></em> Style 2</label>
              </div>
            </div>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body">
              <h4 class="alert alert-info"> Insert switches to widget header </h4>
              <div class="btn-group" data-toggle="buttons">
                <label class="btn btn-default btn-sm active" (click)="setStyle('style1')">
                  <input type="radio" name="style-switch"> <strong>Switch</strong> <i>Style 1</i>
                </label>
                <label class="btn btn-default btn-sm" (click)="setStyle('style2')">
                  <input type="radio" name="style-switch"> <strong>Switch</strong> <i>Style 2</i>
                </label>
              </div>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
        <!-- Widget ID (each widget will need unique ID)-->
        <div sa-widget [colorbutton]="false" [editbutton]="false" color="greenDark">
          <!-- widget options:
              usage: <div sa-widget id="wid-id-0" [editbutton]="false">
              [colorbutton]="false"
              [editbutton]="false"
              [togglebutton]="false"
              [deletebutton]="false"
              [fullscreenbutton]="false"
              [custombutton]="false"
              [collapsed]="true"
              [sortable]="false"
          -->
          <header>
            <h2><strong>Apps</strong></h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body no-padding">
              <div class="widget-body-toolbar">
                <div class="row">
                  <div class="col-xs-9 col-sm-5 col-md-5 col-lg-5">
                    <div class="input-group">
                      <span class="input-group-addon"><i class="fa fa-search"></i></span>
                      <input class="form-control" id="prepend" placeholder="Filter" type="text">
                    </div>
                  </div>
                  <div class="col-xs-3 col-sm-7 col-md-7 col-lg-7 text-right">
                    <button class="btn btn-success">
                      <i class="fa fa-plus"></i> <span class="hidden-mobile">Add New Row</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="custom-scroll table-responsive" style="height:290px; overflow-y: scroll;">
                <table class="table table-bordered">
                  <thead>
                  <tr>
                    <th><i class="fa fa-key text-warning"></i> License Key</th>
                    <th>Username <i class="text-danger">!</i></th>
                    <th>Date</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>C87E48EF-605A-B4FF</td>
                    <td>erat@montesnasceturridiculus.org</td>
                    <td>10/03/13</td>
                  </tr>
                  <tr>
                    <td>5DDA79E7-890F-064D</td>
                    <td>Nunc.lectus@ipsum.co.uk</td>
                    <td>28/12/13</td>
                  </tr>
                  <tr>
                    <td>468459AA-7933-C017</td>
                    <td>vitae.mauris.sit@tempordiamdictum.net</td>
                    <td>25/02/14</td>
                  </tr>
                  <tr>
                    <td>C3006C18-4677-D2CE</td>
                    <td>nec.urna.suscipit@acrisusMorbi.edu</td>
                    <td>06/07/14</td>
                  </tr>
                  <tr>
                    <td>E535C188-FDF4-90CB</td>
                    <td>lobortis@pedeacurna.com</td>
                    <td>28/12/12</td>
                  </tr>
                  <tr>
                    <td>95489E95-9602-18B7</td>
                    <td>egestas.lacinia.Sed@In.ca</td>
                    <td>17/07/14</td>
                  </tr>
                  <tr>
                    <td>D34E6661-D81A-9328</td>
                    <td>arcu@lectus.ca</td>
                    <td>14/10/14</td>
                  </tr>
                  <tr>
                    <td>C72D2C04-458F-EBD0</td>
                    <td>ut.pharetra.sed@vulputatevelit.net</td>
                    <td>30/04/14</td>
                  </tr>
                  <tr>
                    <td>10CAFA5C-AB4B-8B45</td>
                    <td>arcu.eu.odio@Duis.co.uk</td>
                    <td>14/02/13</td>
                  </tr>
                  <tr>
                    <td>AA4F5CBA-1CE8-85B7</td>
                    <td>nec@rutrum.net</td>
                    <td>06/02/14</td>
                  </tr>
                  <tr>
                    <td>2D816071-8F99-B315</td>
                    <td>Praesent.luctus.Curabitur@elementum.ca</td>
                    <td>27/09/13</td>
                  </tr>
                  <tr>
                    <td>41BDB60C-C6EA-54EB</td>
                    <td>Nunc.sed.orci@sitamet.org</td>
                    <td>18/11/13</td>
                  </tr>
                  <tr>
                    <td>43F3D48B-FEF3-776E</td>
                    <td>eu.erat@nequevitaesemper.com</td>
                    <td>23/04/13</td>
                  </tr>
                  <tr>
                    <td>2521899F-79B9-B309</td>
                    <td>mattis.velit@risusQuisque.ca</td>
                    <td>04/07/13</td>
                  </tr>
                  <tr>
                    <td>D08994C9-DCB1-948B</td>
                    <td>Proin@metusAliquam.net</td>
                    <td>27/07/13</td>
                  </tr>
                  <tr>
                    <td>7AD2C774-36BA-0B2B</td>
                    <td>tincidunt@Lorem.com</td>
                    <td>01/07/14</td>
                  </tr>
                  <tr>
                    <td>162C0373-FF3B-2469</td>
                    <td>ante.dictum.cursus@ultrices.org</td>
                    <td>10/02/13</td>
                  </tr>
                  <tr>
                    <td>05641987-3D48-DD72</td>
                    <td>lorem.ut.aliquam@Sednecmetus.org</td>
                    <td>16/08/14</td>
                  </tr>
                  <tr>
                    <td>3A173E5A-192A-0D5D</td>
                    <td>nunc.risus@vitae.org</td>
                    <td>04/04/13</td>
                  </tr>
                  <tr>
                    <td>67081066-E0B5-9E37</td>
                    <td>lectus@sed.org</td>
                    <td>10/12/14</td>
                  </tr>
                  <tr>
                    <td>C677C05F-7D98-C3E9</td>
                    <td>auctor.quis@Morbi.org</td>
                    <td>30/03/13</td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->
   
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>
<!-- END MAIN CONTENT -->
