.smart-style-1 .btn-header> :first-child>a {
    background: #0E70CA;
    border: 1px solid #125A9C;
}

.loader-background {
    background-color: black;
    background-image: url(/img/pirxon-background.jpg);
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;

}

.loader-background img {
    top: calc(50% - 150px);
    position: relative;
}

form .required-mark {
    color: red;
}

.dd-handle {
    cursor: pointer;
    background: white;
    border: 1px solid white;
}

.dd-handle:hover {
    background: #ecf3f8 !important;
    border: 1px solid #c3e6f7;
    color: #333 !important;
}

.dd-handle:hover+.dd-list .dd-handle {
    background: white !important;
    border: 1px solid white;
    color: #333333 !important;
}

.dd-handle+.dd-list .dd-handle.active,
.dd-handle.active {
    background: #d9edf7 !important;
    border: 1px solid #c3e6f7;
    color: #333 !important;
    font-weight: bold;
}

.dd-item>button[data-action="collapse"]:before {
    color: #333;
    content: '\f068';
}

.dd-item>button:before {
    color: #333;
    content: '\f067';
}

[disabled] * {
    pointer-events: none;
}

.select2-results__option {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor: pointer;
    display: block;
    margin: 0;
    min-height: 1em;
    padding: 3px 7px 4px;
    user-select: none;
}

.modal-footer {
    background-color: rgba(248, 248, 248, .9);
}

.input-group-addon label {
    margin-bottom: 0px;
}

.input-group-addon.input-addon {
    padding: 0px;
    border: none;
}

.input-group.full-group {
    width: 100%;
}

.input-group .col-sm-6,
.input-group .col-sm-12 {
    padding: 0px;
}

.control-label {
    text-overflow: ellipsis;
    overflow: hidden;
}

.bootstrap-tagsinput input {
    padding: 6px;
}

.has-success .bootstrap-tagsinput {
    border-color: #3c763d;
}

.has-error .bootstrap-tagsinput {
    border-color: #c05e5e;
}

.input-group+.form-control-feedback {
    display: none !important;
}

.has-feedback .control-label,
.has-feedback .checkbox-inline {
    color: inherit;
}

.has-error label input[type="checkbox"].checkbox+span:before {
    border-color: #b94a48;
    color: #a94442;
}

.has-success label input[type="checkbox"].checkbox+span:before {
    border-color: #3c763d;
    color: #3c763d;
}

#content {
    margin-right: 1px;
}

.fixed-navigation nav>ul {
    height: auto;
}

.minified nav ul li span {
    display: none;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail>img,
.thumbnail a>img {
    width: 100%;
}

@media (max-width: 979px) {
    #main {
        width: inherit !important;
    }

    body:not(.minified) #left-panel {
        left: 0px;
        opacity: 0.9;
    }
}

.popover-content {
    word-wrap: break-word;
}

.link-button {
    cursor: pointer;
}

.link-button:hover,
.link-button:focus {
    text-decoration: none;
}

.SmallBox:hover {
    cursor: default;
}

.SmallBox .botClose {
    top: 8px;
}

.dropdown-menu button i.fa {
    min-width: 20px;
}


.sub-title {
    display: inline-block;
    height: auto;
    color: #bfbfbf;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 1px #fff;
    padding-left: 0;
    text-align: left;
    padding: 10px;

}

.dropzone {
    min-height: 140px;

}


.smart-form.widget-body-toolbar,
.widget-body-toolbar-wizard {
    border-top: 1px solid #ccc;
}

.bootstrapWizard li {
    width: 25%;
}

#drag-1,
#drag-2 {
    width: 10%;
    background-color: #29e;
    color: #fff;
    font-size: 1.2em;
    border-radius: 4px;
    padding: 2%;
    margin: 5%;
    touch-action: none;
    user-select: none;
}


.sitemap>ul li::before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    left: 23px;
    top: 16px;
    border-top: 1px solid #7A7A7A;
    z-index: 1;
}

.sitemap>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 13px;
    line-height: .5em;
    list-style: none;
    position: relative;

}

.sitemap>ul::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 23px;
    top: 16px;
    bottom: 16px;
    border-left: 1px solid #7A7A7A;
}


.sitemap ul li {
    margin: 0;
    padding: 0;
    border-bottom: none;
    position: relative;

}

.sitemap>ul li>a {
    padding-left: 42px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    padding-top: 7px;
    padding-bottom: 7px;
}


.sitemap>ul li a {
    line-height: normal;
    font-size: 14px;
    color: #333;
    display: block;
    font-weight: 400;
    text-decoration: none !important;
    position: relative;

}


.sitemap ul li a:active,
.sitemap ul li a:hover {
   /* background: #ccc !important; */
}

.sitemap ul b {
    float: right;
    font-size: 11px;
    margin-top: 2px;
    margin-right: 5px;
}

.item {
    padding: 1em;
    height: 100%;
    position: relative;
    background-color: #fff;
}

.item-components {
    grid-area: item-components;
    background-color: #f1f1f1;
}

.item-pages {
    grid-area: item-pages;
    background-color: #f1f1f1;
}

.item-canva {
    grid-area: item-canva;
}

.item-interactions {
    grid-area: item-interactions;
    background-color: #f1f1f1;
}

.item-settings {
    grid-area: item-settings;
    background-color: #f1f1f1;

}

.designer-container {
    margin: -26px -13px -37px -13px;
    display: grid;
    grid-template-columns: [col1-start] 20% [col1-end] auto [col2-start] 20% [col2-end];
    grid-template-rows: [first-line] 600px [second-line] 350px [last-line];

    grid-template-areas:
        "item-components item-canva item-settings"
        "item-pages item-interactions item-settings";

    grid-column-gap: 1px;
    grid-row-gap: 1px;
    background-color: #ccc;
}




.item-nav{
    height: 100px;
    margin-bottom:5px;
} 

.item-container{
    margin-top: -5px;
    padding: 0 5px;
    position: relative;
    background: #fff;
    border: 1px solid #ccc;  
    overflow-y: auto;
    overflow-x: hidden;
   /* Firefox */
    height: -moz-calc(100% - 100px);
    /* WebKit */
    height: -webkit-calc(100% - 100px);
    /* Opera */
    height: -o-calc(100% - 100px);
    /* Standard */
    height: calc(100% - 100px);
}


.component-card {
    margin: 10px 0;
} 

.widget-body-toolbar-wizard{
    background: #e6e6e6;
}

.mat-menu-item, .mat-list-text {
    font-size: 13px !important;
}