.smart-style-1 .btn-header > :first-child > a {
    background: #0E70CA;
    border: 1px solid #125A9C;
}

.loader-background {
    background-color: black;
    background-image: url(/img/pirxon-background.jpg);
    background-position-x: 50%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    text-align: center;
    
}

.loader-background img {
    top: calc(50% - 150px);
    position: relative;
}

form .required-mark {
    color: red;
}

.dd-handle {
    cursor: pointer;
    background: white;
    border: 1px solid white;
}

    .dd-handle:hover {
        background: #ecf3f8 !important;
        border: 1px solid #c3e6f7;
        color: #333 !important;
    }

        .dd-handle:hover + .dd-list .dd-handle {
            background: white !important;
            border: 1px solid white;
            color: #333333 !important;
        }

    .dd-handle + .dd-list .dd-handle.active, .dd-handle.active {
        background: #d9edf7 !important;
        border: 1px solid #c3e6f7;
        color: #333 !important;
        font-weight: bold;
    }

.dd-item > button[data-action="collapse"]:before {
    color: #333;
    content: '\f068';
}

.dd-item > button:before {
    color: #333;
    content: '\f067';
}

[disabled] * {
    pointer-events: none;
}

.select2-results__option {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    cursor: pointer;
    display: block;
    margin: 0;
    min-height: 1em;
    padding: 3px 7px 4px;
    user-select: none;
}

.modal-footer {
    background-color: rgba(248,248,248,.9);
}

.input-group-addon label {
    margin-bottom: 0px;
}

.input-group-addon.input-addon {
    padding: 0px;
    border: none;
}

.input-group.full-group {
    width: 100%;
}

.input-group .col-sm-6, .input-group .col-sm-12 {
    padding: 0px;
}

.control-label {
    text-overflow: ellipsis;
    overflow: hidden;
}

.bootstrap-tagsinput input {
    padding: 6px;
}

.has-success .bootstrap-tagsinput {
    border-color: #3c763d;
}

.has-error .bootstrap-tagsinput {
    border-color: #c05e5e;
}

.input-group + .form-control-feedback {
    display: none !important;
}

.has-feedback .control-label, .has-feedback .checkbox-inline {
    color: inherit;
}

.has-error label input[type="checkbox"].checkbox + span:before {
    border-color: #b94a48;
    color: #a94442;
}

.has-success label input[type="checkbox"].checkbox + span:before {
    border-color: #3c763d;
    color: #3c763d;
}

#content {
    margin-right: 1px;
}

.fixed-navigation nav > ul {
    height: auto;
}

.minified nav ul li span {
    display: none;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail > img, .thumbnail a > img {
    width: 100%;
}

@media (max-width: 979px) {
    #main {
        width: inherit !important;
    }

    body:not(.minified) #left-panel {
        left: 0px;
        opacity: 0.9;
    }
}

.popover-content {
    word-wrap: break-word;
}

.link-button {
    cursor: pointer;
}

.link-button:hover, .link-button:focus {
    text-decoration: none;
}

.SmallBox:hover {
    cursor: default;
}

.SmallBox .botClose {
    top: 8px;
}

.dropdown-menu button i.fa {
    min-width: 20px;
}


.sub-title {
    display: inline-block;
    height: auto;
    color: #bfbfbf;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0 0 1px #fff;
    padding-left: 0;
    text-align: left;
    padding: 10px;
    
}

.dropzone {
     min-height: 140px; 

}


.smart-form.widget-body-toolbar, .widget-body-toolbar-wizzard {
    border-top: 1px solid #ccc;
}

.bootstrapWizard li {
    width: 20%;
}