<div>
  <div class="row no-space">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
      <on-off-switch class="demo-liveupdate-1" title="Live switch" [(model)]="liveSwitch"
                     (modelChange)="toggleSwitch()"></on-off-switch>

      <sa-flot-chart class="chart-large txt-color-blue" [data]="liveStats"
                     [options]="liveStatsChartOptions"></sa-flot-chart>

    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 show-stats">

      <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"><span
          class="text"> My Tasks <span
          class="pull-right">130/200</span> </span>

          <div class="progress">
            <div class="progress-bar bg-color-blueDark"
                 style="width: 65%"></div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"><span
          class="text"> Transfered <span
          class="pull-right">440 GB</span> </span>

          <div class="progress">
            <div class="progress-bar bg-color-blue"
                 style="width:34%"></div>
          </div>
        </div>


        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"><span
          class="text"> Bugs Squashed<span
          class="pull-right">77%</span> </span>

          <div class="progress">
            <div class="progress-bar bg-color-blue"
                 style="width: 77%"></div>
          </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-12 col-lg-12"><span
          class="text"> User Testing <span
          class="pull-right">7 Days</span> </span>

          <div class="progress">
            <div class="progress-bar bg-color-greenLight" style="width:84%"></div>
          </div>
        </div>

        <span class="show-stat-buttons">
          <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
             <a (click)="(null)" class="btn btn-default btn-block hidden-xs">Generate PDF</a>
          </span>
          <span class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
              <a (click)="(null)" class="btn btn-default btn-block hidden-xs">Report a bug</a>
          </span>
        </span>
      </div>
    </div>

  </div>

</div>
