<aside id="left-panel">


  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu>
      <ng-container *ngIf="role === 'frontend'; else backendNav">

      </ng-container>
      <ng-template #backendNav>

        <li routerLinkActive="active">
          <a routerLink="/dashboard" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span
              class="menu-item-parent">{{'Dashboard' | i18n}}</span></a>
        </li>
       
        <li routerLinkActive="active">
          <a routerLink="/app-views/projects"><i class="fa fa-lg fa-fw fa-file-text-o"></i> <span
              class="menu-item-parent">{{'Projects' | i18n}}</span></a>
        </li>
        <li>

        <li routerLinkActive="active">
          <a routerLink="/app-views/wizards"><i class="fa fa-lg fa-fw fa-puzzle-piece"></i> <span
              class="menu-item-parent">{{'Creator' | i18n}}</span></a>
        </li>

        <!--
        <li>
          <a href="#">
            <i class="fa fa-lg fa-fw fa-shopping-cart"></i> <span
              class="menu-item-parent">{{'Payments' | i18n}}</span></a>
          <ul>
            <li routerLinkActive="active">
              <a routerLink="/miscellaneous/pricing-tables">{{'Pricing Tables' | i18n}}</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/e-commerce/orders" title="Orders"> {{'Orders' | i18n}}</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#"><i class="fa fa-lg fa-fw fa-cogs"></i> <span
              class="menu-item-parent">{{'Global Settings' | i18n}}</span></a>
          <ul>
            <li routerLinkActive="active">
              <a routerLink="/auth/login">{{'Login' | i18n}}</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/auth/register">{{'Register' | i18n}}</a>
            </li>
            <li routerLinkActive="active">
              <a routerLink="/auth/forgot-password">{{'Forgot Password' | i18n}}</a>
            </li>
          </ul>
        </li>
        -->
      </ng-template>
    </ul>

  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>