<div id="content">
  <!-- widget grid -->
  <sa-widgets-grid>
    <!-- row -->
    <div class="row">
      <!-- NEW WIDGET START -->
      <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <!-- Widget ID (each widget will need unique ID)-->
        <div sa-widget class="well" [colorbutton]="false" [editbutton]="false" [deletebutton]="false" [sortable]="false" color="darken">
          <!-- widget options:
                          usage: <div sa-widget id="wid-id-0" [editbutton]="false">
                          [colorbutton]="false"
                          [editbutton]="false"
                          [togglebutton]="false"
                          [deletebutton]="false"
                          [fullscreenbutton]="false"
                          [custombutton]="false"
                          [collapsed]="true"
                          [sortable]="false"
                          -->
          <header>
            <span class="widget-icon"> <i class="fa fa-barcode"></i> </span>
            <h2>Item #44761 </h2>
          </header>
          <!-- widget div-->
          <div>
            <!-- widget content -->
            <div class="widget-body no-padding">
              <div class="widget-body-toolbar">
                <div class="row">
                
                  <div class="col col-sm-2">
              
                    <label class="">Design for platform: </label>
                    <br>
                    <label class="select" style="width:100%">
                        <select class="input form-control" >
                          <option value="0">Choose platform</option>
                          <option value="1">Android</option>
                          <option value="2"selected >iOS</option>
                          <option value="3">Hololens Glasses</option>
                          <option value="4">Lenovo Glasses</option>
                        </select> <i></i> </label>
                        
                  </div>
                  <div class="col col-sm-2">
              
                      <label class="">Design for layout: </label>
                      <br>
                      <label class="select" style="width:100%">
                          <select class="input form-control" >
                            <option value="0">Choose layout</option>
                            <option value="1">Vertical phone</option>
                            <option value="2">Vertical ipad</option>
                            <option value="3">Horizontal ipad</option>
                          </select> <i></i> </label>
                          
                    </div>
                  <div class="col col-sm-8 text-align-right padding-10">
                    <div class="btn-group btn-header" style="margin-left: 6px;">
                      <a (click)="(null)" class="btn btn-primary"> <i class="fa fa-play"></i> Preview </a>
                    </div>

                    <div class="btn-group btn-header" style="margin-left: 6px;">
                      <a (click)="(null)" class="btn btn-success"> <i class="fa fa-floppy-o"></i> Save </a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="padding-10">
                designer
              </div>
            </div>
            <!-- end widget content -->
          </div>
          <!-- end widget div -->
        </div>
        <!-- end widget -->
      </article>
      <!-- WIDGET END -->
    </div>
    <!-- end row -->
  </sa-widgets-grid>
  <!-- end widget grid -->
</div>
