<div sa-widget [editbutton]="false" [deletebutton]="false" [colorbutton]="false" color="darken">
  <!-- widget options:
  usage: <div sa-widget [editbutton]="false">

  [colorbutton]="false"
  [editbutton]="false"
  [togglebutton]="false"
  [deletebutton]="false"
  [fullscreenbutton]="false"
  [custombutton]="false"
  [collapsed]="true"
  [sortable]="false"

  -->
  <header>
    <span class="widget-icon"> <i class="fa fa-cubes"></i> </span>

    <h2>Creator view </h2>

  </header>

  <!-- widget div-->
  <div>

    <!-- widget content -->
    <div class="widget-body">

      <div class="row">
        <form novalidate="novalidate">
          <div class="col-sm-12">
            <div class="form-bootstrapWizard clearfix">
              <ul class="bootstrapWizard">
                <li *ngFor="let pane of steps; let i = index" [class.active]="activeStep == pane">
                  <a (click)="setActiveStep(pane)"> <span class="step">
                      <span *ngIf="!pane.checked">{{i + 1}}</span>
                      <i class="fa fa-check" *ngIf="pane.checked"></i>
                    </span> <span class="title">{{pane.title}}</span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="tab-content">
              <div class="tab-pane" [class.active]="activeStep.key == 'step1'">
                <br>
                <sa-basic></sa-basic>
              </div>
              <div class="tab-pane" [class.active]="activeStep.key == 'step2'">
                <br>
                <sa-layout></sa-layout>
              </div>
              <div class="tab-pane" [class.active]="activeStep.key == 'step3'">
                <br>
                <sa-designer></sa-designer>
              </div>
              <div class="tab-pane" [class.active]="activeStep.key == 'step4'">
                <sa-versions></sa-versions>
              </div>

              <div class="tab-pane" [class.active]="activeStep.key == 'step5'">
                <sa-publish></sa-publish>
              </div>


              <div class="form-actions">
                <div class="row">
                  <div class="col-sm-12">
                    <ul class="pager wizard no-margin">
                      <li class="previous">
                        <a (click)="prevStep()" [class.disabled]="steps.indexOf(activeStep) == 0"
                          class="btn btn-default"> Previous
                        </a>
                      </li>
                      <li class="next">
                        <a (click)="nextStep()" [class.disabled]="activeStep.submitted && !activeStep.valid"
                          class="btn txt-color-darken"> Next
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </form>
      </div>

    </div>
    <!-- end widget content -->

  </div>
  <!-- end widget div -->
</div>