<header id="header">
  <div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo"> 
      <img src="assets/img/pirxon-small-logo.png" alt="Pirxon"> 
     
    </span>
    <!-- END LOGO PLACEHOLDER -->
  
  </div>  
  <div class="sub-title" dropdown>
      <span class="lable" >{{ 'Augumented Reality Platform' | i18n }}</span>
  </div>

  


   <!-- User info -->
  
   <!-- end user info -->

  <!-- pulled right: nav area -->
  <div class="pull-right">

   

    <!-- logout button -->
    <sa-logout></sa-logout>
    <!-- end logout button -->

    <sa-collapse-menu></sa-collapse-menu>

    <!-- multiple lang dropdown : find all flags in the flags page -->
    <sa-language-selector></sa-language-selector>
    <!-- end multiple lang -->


  </div>
  <!-- end pulled right: nav area -->

  <div class="pull-left"> <sa-login-info></sa-login-info></div>
 

</header>
